*{
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
    font-family: Rubik;
    scroll-behavior: smooth;
    background-color: #ffeff7;
    color: #d576a2;
}
.main__cont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:3rem;
}
.catt__pic{
    width:auto;
    max-width: 400px;
    height:auto;
    margin: 20px;
    border: 1px solid #fbdfed;
    border-radius: 10px;
    transition:all 2s;

}
.catt__pic:hover{
    transform: scale(1.01);
    transition:all 2s;
}

.main__cont h1{
    font-size: 2rem;
}

.main__cont h2{
    font-size: 1.25rem;
    color:#d576a2;
    margin-bottom:10px;
}

.main__cont p{
    font-size:1.2rem;
    width:auto;
    max-width:30%;
    text-align: center;
}

.cat__btn{
    display:flex;
    justify-content: center;
    align-items: center;
    margin:20px;
    height:90%;
    width:auto;
    max-width:100px;
    padding:10px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    outline:none;
    border:none;
    cursor: pointer;
    background-color: #9e67d4;
    color:#fff;
    font-size: 1.1rem;
    transition:background-color 0.5s ease-in-out;
}

.cat__btn:hover{
    background-color: #3f136c;
}
